#mainFrame:inactive * {
    foreground: gray;
}

JLabel.heading {
    font-size: 18pt;
    font-weight: bold;
    text-decoration: underline;
    border: emptyBorder(8, 0, 0, 0);
}

JToolBar {
    floatable: false;
}

JToolBar JButton {
    text: null;
}

JButton.link {
    border: lineBorder(blue);
    foreground: blue;
    text-decoration: underline;
}

JButton.link:armed {
    foreground: red;
}

#mainFrame AbstractButton:selected {
    font-style: italic;
    font-weight: bold;
}

JSlider {
    minimum: 0;
    maximum: 100;
    majorTickSpacing: 25;
    minorTickSpacing: 5;
    paintTicks: true;
    paintLabels: true;
    border: emptyBorder(2, 2, 2, 2);
}

JSlider:${value == maximum} {
    border: lineBorder(red, 2);
}

#mainFrame:active JProgressBar {
    indeterminate: true;
}

JTextComponent {
    font: Helvetica-PLAIN-12;
}

JDesktopPane {
    border: bevelBorder(BevelBorder.LOWERED);
}

JSplitPane {
    dividerSize: 6;
    dividerLocation: 100;
}

JSplitPane > JLabel {
    background:white;
    opaque: true;
    font-size: 0.5in;
}

JComboBox {
    foreground: red;
}

JSpinner JTextComponent {
    font-size: 18pt;
}