JFrame {
  font-size: 14pt;
}

#title {
  font: Helvetica-BOLD-24;
}

.bold { 
  font-weight: bold;
}

JSlider#tip {
  paintTicks: true;
  majorTickSpacing: 10;
  minorTickSpacing: 5;
  paintLabels: true;
  background: null;
  opaque: true;
}

JSlider#tip:{value <= 10} {
  background: red !over 0.3s;
}

JSlider#tip:{value >= 20} {
  background: green !over 0.3s;
}

#totalLabel { 
  font-style: italic;
}

#total {
  font-style: italic;
  foreground: red;
  border: compoundBorder(etchedBorder, emptyBorder(4, 2, 4, 4));
}